html, body {
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
  outline-color: #64C4ED;
  outline-width: 1px;
}

.app{
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
}

@media (max-width: 660px) {
  .app{
    display: flex;
    flex-direction: column;
  }
}