html, body {
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
  outline-color: #64C4ED;
  outline-width: 1px;
}

.app{
  width: 746px;
  min-height: 529px;
  display: flex;
  justify-content: stretch;
  border: 1px solid black;
}