.content{
  width: 74%;
  padding: 55px;

  background-color: #FFF;
}
.header{
  margin-bottom: 20px;

  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #64C4ED;
}
.empty{
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
}