.content{
  width: 74%;
  height: 100%;
  padding: 55px;

  background-color: #FFF;
}

.empty{
  margin: 150px auto;

  text-align: center;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #C9D1D3;
}


@media (max-width: 660px){
  .content{
    width: 100%;
    padding: 0;
    padding-left: 15px;
  }
  .edit__input{
    width: 85%;
  }
  .edit__button {
    position: static;
  }
}