$navBg: #F4F6F8;
.main_nav{
  position: relative;
  width: 20%;
  padding: 35px 20px;

  background-color: $navBg;
}
.all__tasks{
  position: relative;
  margin-top: 55px;
  padding-left: 30px;
  margin-bottom: 35px;

  border: none;
  background: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #000000;

  &:before{
    content: "";
    position: absolute;
    left: 8px;
    top: 0;

    width: 15px;
    height: 15px;
    background-image: url("../../assets/img/list-icon.svg");
    background-repeat: no-repeat;

  }
}

.folder__list{
  margin: 0;
  padding: 0;
  margin-bottom: 40px;

  list-style: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #000000;
}
.folder__item{
  position: relative;
  height: 37px;

  //&:hover{
  //  .folder__del-btn{
  //    opacity: 0.7;
  //  }
  //}
}
.folder__link{
  position: relative;
  display: block;
  height: 37px;
  width: 100%;
  padding-left: 30px;
  padding-right: 5px;
  cursor: pointer;

  border: none;
  background: none;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.15px;
  color: #000000;
  transition: background-color 0.3s;

  span{
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover{
    background-color: lighten($navBg, 3%);
  }

  &::before{
    content: "";
    position: absolute;
    left: 10px;
    top: 13px;
    width: 13px;
    height: 13px;

    background-repeat: no-repeat;
  }
  &.grey_nav{
    &::before {
      background-image: url("../../assets/img/grey.svg");
    }
  }
  &.green_nav{
    &::before {
      background-image: url("../../assets/img/green.svg");
    }
  }
  &.grass_nav{
    &::before {
      background-image: url("../../assets/img/grass.svg");
    }
  }
  &.pink_nav{
    &::before {
      background-image: url("../../assets/img/pink.svg");
    }
  }
  &.blue_nav{
    &::before {
      background-image: url("../../assets/img/blue.svg");
    }
  }
  &.purple_nav{
    &::before {
      background-image: url("../../assets/img/purple.svg");
    }
  }
  &.black_nav{
    &::before {
      background-image: url("../../assets/img/black.svg");
    }
  }
  &.red_nav{
    &::before {
      background-image: url("../../assets/img/red.svg");
    }
  }
}

.add__folder{
  position: relative;
  padding-left: 30px;
  border: none;

  background: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.15px;
  color: #767676;

  &::before{
    content: "";
    position: absolute;
    left: 5px;
    top: 3px;
    width: 13px;
    height: 13px;

    background-image: url("../../assets/img/plusSmall.svg");
    background-repeat: no-repeat;
  }
}

.active_nav{
  background: #FFFFFF;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.folder__del-btn{
  position: absolute;
  margin: 0;
  padding: 0;
  z-index: 1;
  width: 12px;
  height: 12px;
  right: 12px;
  top: 11px;

  border: none;
  background: none;
  opacity: 1;
}

.wrapper{
  position: relative;
}

@media (max-width: 660px){
  .main_nav{
    width: 100%;
  }
  .all__tasks{
    display: block;
    margin: 0 auto 30px auto;
    width: 70%;
    text-align: left;
  }
  .folder__list{
    width: 70%;
    margin: 0 auto 40px auto;
  }
  .wrapper{
    width: 70%;
    margin: 0 auto;
  }
}