.container{
  padding-top: 30px;
  border-top: 1px solid #F2F2F2;
}
.tasks__list{
  margin: 0;
  padding: 0;
  margin-bottom: 20px;

  list-style: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.tasks__item {
  position: relative;
  min-height: 30px;

  margin-bottom: 10px;

  &:hover {
    .tasks__del {
      opacity: 1;
    }
  }

}
.task__link{
  display: block;
  min-height: 30px;
  padding-left: 35px;

  text-decoration: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;

  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: -2px;
    width: 20px;
    height: 20px;

    background-image: url("../../assets/img/Ellipse.svg");
    background-repeat: no-repeat;
  }
  &:hover{
    &::before{
      background-image: url("../../assets/img/task_hovered.svg");
    }
  }
  &.completed{
    color: rgba(0, 0, 0, 0.58);
    &::before{
      background-image: url("../../assets/img/completed.svg");
    }
  }
}
.tasks__del{
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 15px;
  height: 15px;
  margin-left: 20px;
  padding: 2px;

  transition: opacity 0.4s;
  opacity: 0;
  border: none;
  background: none;
  background-image: url("../../assets/img/delfolder.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.add__task{
  position: relative;
  padding-left: 30px;

  border: none;
  background: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.15px;
  color: #B4B4B4;

  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 15px;
    height: 15px;

    background-image: url("../../assets/img/plus.svg");
    background-repeat: no-repeat;
  }
}

